article {
  text-align: center;
}

nav ul {
  padding-left: 0;
}

nav li {
  display: inline-block;
}

figure img {
  width: 100%;
  height: auto;
}

main {
  width: 750px;
  background-color: aliceblue;
  margin: auto;
  overflow: hidden;
  padding: 20px 40px;
}

.gallery {
  background-color: tomato;
}

figure {
  float: left;
  width: 250px;
}

section {
  overflow: hidden;
  margin: 20px 0;
}
